
#comeIn {  
    margin: 0;
    background-image: url(/img/comeIn.jpg);  
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;         
    color: white;
    
}

.jumbotron {
    margin: 0;
    padding: 75px 75px 50px;
    background-image: url(/img/jumbotron1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
}

.header, h1 {
    font-family: 'Big Shoulders Stencil Display', 'Courier New';
    letter-spacing: 5px;
    color: rgb(201, 139, 6, 1.0);
    font-size: 4em;
}

.navbar {
    background-image: linear-gradient(rgb(161, 159, 159), black); 
}

.navbar ul a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 10px
    
}

.card a:hover, .card p.d-sm-none:hover {
    background-color: rgba(63, 60, 60, 0.8);
    border-radius: 5px;
    padding: 5px;
}

#ourMission {
    text-align: center;
    color: black;
    border: solid black 10px;
    border-radius: 10px;
    margin: 15px 15px;
    background-color: rgb(158, 85, 85, 0.2);
    
}

#hopImg {
    text-align: center;
    color: white;
}

#beerNavbar {
    text-align: center;
    letter-spacing: 1px;
    color: grey;
}

#hopsTab {
    background-image: url(/img/Hops2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#maltTab {
    background-image: url(/img/malt.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#yeastTab {
    background-image: url(/img/yeast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#palateTab {
    background-image: url(/img/port_text.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#abvTab {
    background-image: url(/img/abv.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#ibuTab {
    background-image: url(/img/bitter.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

#tableCont {
    background-image: url(/img/kegs.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
}

#cardIndex3 {
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 45px;
}

img[src="img/pilsner.png"],
img[src="img/paleale.png"],
img[src="img/brownale.png"],
img[src="img/ipahazy.png"],
img[src="img/wheat.png"],
img[src="img/belgian.png"],
img[src="img/porter.png"],
img[src="img/stout.png"],
img[src="img/sour.png"] {
    border-radius: 20px;
    padding: 5px;
    height: auto;
    width: 75%;
    max-width: 50vw;
    opacity: 0.9;
}

.site-footer {
    background-image: linear-gradient(to bottom,#020202, rgb(161, 159, 159));
    padding: 20px 0;
    color: white;
}




